h1,
p {
  font-family: Lato;
}

#root {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

body,
html {
  overscroll-behavior: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
